@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */


}
section{
  @apply bg-mainBg dark:bg-gray-600 text-black dark:text-white
}
html{
  scroll-behavior: smooth;
}
nav li:hover{
  color: #EF4444;
}
/* button {
  border-radius: 0.5rem;
  border: solid black 1px;
  font-weight: 500;

} */


.projectCard {
  /* transition: all .2s; */
  border-radius:  0 0 .5rem .5rem;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}



.projectCard {
  max-width: 30rem;
  margin-inline: auto;
}
.projectCard h3 {
  @apply text-black
}
#contact h4{
  @apply text-black
}


.text-limit{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
          line-clamp: 5; 
  -webkit-box-orient: vertical;
}
.contactSvg{
  width: 25%;
  min-width: 20%;
}
.github{
  border-radius: 0.5rem;
  padding: .25rem;
  border: solid 2px black;
}

@media (hover: hover) {
 .name li{
  /* transition: all 150ms; */
 }
 .name li:hover{
  transform: scale(1.25);
	transform: translateY(0.25rem);
 }
}

